ODD_comite.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD registres de comités de la Comédie-française </title>
        <author><name>Marine Tiger</name></author>
      </titleStmt>
      <publicationStmt>
        <p>Ce schéma d'encodage en XML-TEI est produit dans le cadre de mon doctorat en humanités
          numériques à la Sorbonne-université et l'université de Victoria.</p>
      </publicationStmt>
      <sourceDesc>
        <p>Crée en <date when="2024-12">décembre 2024</date> par <name>Marine Tiger</name></p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2025-02-20">Ajout contraintes pour la date dans "div1"</change>
      <change when="2025-02-12">Ajout "constraint" pour @type dans "div1"</change>
      <change when="2025-02-10">Ajout "tagdocs"</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div type="schemas">
        <schemaSpec ident="RCF_comité" start="TEI">
          <!--Le module "tagdocs" permet d'utiliser des élèments de mise en forme pour écrire de la documentation-->
          <moduleRef key="tagdocs"/>
          <moduleRef key="tei"/>


          <!-- Règles d'encodage pour le header -->
          <moduleRef key="header"
            include="calendar calendarDesc change edition editionStmt encodingDesc fileDesc idno listChange listPrefixDef namespace prefixDef profileDesc publicationStmt rendition revisionDesc schemaRef sourceDesc teiHeader titleStmt"/>
          <!-- Le module "msdescription" permet de décrire les registres. Comme le portail Lagrange fournit déjà une notice détaillée, la description se limite à la provenance, série et cote -->
          <moduleRef key="msdescription" include="institution msDesc msIdentifier repository source"/>


          <moduleRef key="core"/>
          <moduleRef key="textstructure"
            include="TEI body closer div div1 div2 div3 front opener signed text"/>
          <moduleRef key="namesdates"
            include="addName event eventName forename gender listPerson occupation person persName orgName placeName roleName surname"/>
          <!-- Le module "analysis" permet d'ajouter @ana-->
          <moduleRef key="analysis"/>
          <!-- Le module drama est ajouté afin de pouvoir encoder les distributions des rôles -->
          <moduleRef key="drama" include="actor castItem castList role"/>


          <!-- Pour la <div1> -->
          <elementSpec ident="div1" mode="change" module="textstructure">
            <!-- On ajoute l'attribut @when dans l'élément <div> -->
            <classes mode="change">
              <memberOf mode="add" key="att.datable"/>
            </classes>
            <!-- Contrainte pour obliger un attribut pour dater les séances -->
            <constraintSpec ident="dateDiv1" scheme="schematron">
              <constraint>
                <sch:rule context="tei:div1">
                  <sch:assert test="@when | @notBefore | @notAfter" role="error">La date doit être
                    indiquée par l'attribut @when. Si la date n'est pas connue, indiquer la date de
                    la séance précédente dans @notBefore, et la date de la séance suivante dans
                    @notAfter.</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <attList>
              <!-- Contrainte pour obliger l'attribut @type pour indiquer le type d'assemblée lister dans <valItem>-->
              <attDef ident="type" mode="replace" usage="req">
                <constraintSpec ident="type" scheme="schematron">
                  <constraint>
                    <sch:rule context="tei:div1">
                      <sch:assert test="@type" role="error">Ajouter le type d'assemblée dans un
                        attribut @type.</sch:assert>
                    </sch:rule>
                  </constraint>
                </constraintSpec>
                <valList type="closed">

                  <!-- Liste (non-exhaustive) des types d'assemblée pour le 17ème-18ème siècle  -->
                  <valItem ident="ass_ord">
                    <desc>Assemblée ordinaire. Ce sont les séances quotidiennes de l'assemblée de la
                      fin du 17ème à la fin du 18ème siècle.</desc>
                  </valItem>
                  <valItem ident="ass_extraord">
                    <desc>Assemblée extraordinaire. Les comédien.nes sont réunies pour parler de
                      sujet important. Terminologie employée entre fin 17ème-fin 18ème
                      siècle.</desc>
                  </valItem>
                  <valItem ident="distribution_roles">
                    <desc>Certaines assemblées sont dédiées principalement à la distribution des
                      rôles d'une pièce.</desc>
                  </valItem>
                  <!-- Exceptions  -->
                  <valItem ident="regent">
                    <desc>Propre au registre R52-6 où les comédien.nes se réunissent parfois chez le
                      duc Philippe d'Orléans, dit le Régent. </desc>
                  </valItem>
                  <valItem ident="amendes">
                    <desc>Propre au registre R52-6 où certaines pages sont dédiées aux amendes
                      distribuées aux comédien.nes absent.es des assemblées.</desc>
                  </valItem>
                  <valItem ident="arrete">
                    <desc>Arrếté. Désigne les actes reportés dans les registres.</desc>
                  </valItem>

                  <!-- Liste (non-exhaustive) des types de comités pour le 19ème siècle -->
                  <valItem ident="comite_adm">
                    <desc>Comité d'administration. Nom donné au cours du 19ème siècle.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!--LISTE DE VALEURS DANS DIV2-->
          <elementSpec ident="div2" mode="change" module="textstructure">
            <!-- Liste (non-exhaustive) pour @ana-->
            <attList>
              <attDef ident="ana" mode="change" usage="rec">
                <valList type="closed">
                  <!-- trouver un moyen afin de pouvoir continuer de mettre plusieurs valeurs à la fois? -->
                  <valItem ident="admission"/>
                  <valItem ident="appointements"/>
                  <valItem ident="archives"/>
                  <valItem ident="audition"/>
                  <valItem ident="auteur"/>
                  <valItem ident="bibliotheque"/>
                  <valItem ident="billet"/>
                  <valItem ident="chauffage"/>
                  <valItem ident="correspondance"/>
                  <valItem ident="conges"/>
                  <valItem ident="costumes"/>
                  <valItem ident="debuts"/>
                  <valItem ident="decors"/>
                  <valItem ident="distribution"/>
                  <valItem ident="dons"/>
                  <valItem ident="emplois"/>
                  <valItem ident="finances"/>
                  <valItem ident="gratifiication"/>
                  <valItem ident="inventaire"/>
                  <valItem ident="judiciaire"/>
                  <valItem ident="loge"/>
                  <valItem ident="pension"/>
                  <valItem ident="quinzainiers"/>
                  <valItem ident="repertoire"/>
                  <valItem ident="representations externes"/>
                  <valItem ident="representation a benefice"/>
                  <valItem ident="retraite"/>
                  <valItem ident="secours"/>
                  <valItem ident="signification"/>
                  <valItem ident="travaux"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- CONTRAINTES DATES DIV3 -->
          <elementSpec ident="div3" mode="change" module="textstructure">
            <!-- On ajoute l'attribut @when dans l'élément <div> -->
            <classes mode="change">
              <memberOf mode="add" key="att.datable"/>
            </classes>
            <!-- Contrainte pour obliger un attribut pour dater les séances -->
            <constraintSpec ident="date" scheme="schematron">
              <constraint>
                <sch:rule context="tei:div3">
                  <sch:assert test="@when | @notBefore | @notAfter" role="error">La date doit être
                    indiquée par l'attribut @when. Si la date n'est pas connue, indiquer la date de
                    la séance précédente dans @notBefore, et la date de la séance suivante dans
                    @notAfter.</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
          </elementSpec>


        </schemaSpec>
      </div>

    </body>
  </text>
</TEI>
